@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, font { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; vertical-align: top; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ol, ul, li, dl, dt, dd { list-style: none; }
input, button, textarea, checkbox, select, radio, form { vertical-align: top; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.red, .red a { color: #F00; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }
.autohei { height: auto; overflow: hidden; zoom: 1; }
.clear{*zoom:1;}
.clear:after{content:"";display:table;clear:both;}
a { color: #808080; }
a:hover { color: #000;}
a,a:focus{outline:none}
body { font-family: "Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;background: #f1f3fa;line-height: 1; }
*{box-sizing:border-box;-webkit-box-sizing:border-box;}
/*hack 5th col*/
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; } @media ( min-width : 768px) { .col-sm-5ths { width: 20%; float: left; } } @media ( min-width : 992px) { .col-md-5ths { width: 20%; float: left; } } @media ( min-width : 1200px) { .col-lg-5ths { width: 20%; float: left; } }

.padding20
{
	padding:20px;
}
.marginLeft20
{
	margin-left:20px;
}

.bgcolor_1
{
	background-color:#37accb;
}
.bgcolor_2
{
	background-color:#fb9100;
}
.bgcolor_3
{
	background-color:#b0c915;
}
.bgcolor_4
{
	background-color:#89cf99;
}
.bgcolor_5
{
	background-color:#4d5b69;
}
.bgcolor_6/*1 under*/
{
	background-color:#0084ad;
}
.bgcolor_7/*2 under*/
{
	background-color:#ab6c11;
}
.bgcolor_8/*3 under*/
{
	background-color:#645d22;
}
.bgcolor_9/*4 under*/
{
	background-color:#009946;
}

.left_content
{
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:200px;
	overflow-y:auto;
}



.logo
{
	line-height:60px;
	font-size:28px;
	color:#fff;
	background-color:#37accb;
	text-align:center;
}

.left-menu
{
	
}
.left-menu .fa-3
{
	font-size:30px;
}
.left-menu li
{
	margin-top:30px;
}
.left-menu li a
{
	display:block;
	text-align:center;
	color:#fff;
	line-height:30px;
	font-size:18px;
}
.left-menu li a.active,.left-menu li a:hover
{
	background: #5c6b79;
	text-decoration: none;
}
.left-menu li a:hover
{
	text-decoration:none;
}

.header
{
	position:fixed;
	left:200px;
	top:0;
	background-color:#fff;
	z-index:2;
	right:0;
	padding:0 20px;
	box-shadow:0 1px 6px 2px rgba(0,0,0,.2);
}


.date-show
{
	height:60px;
	padding-top:10px;
}
#date-time
{
	font-size:26px;
	color:#595959;
	line-height:26px;
	text-align:center;
}
#date-date
{
	color:#666;
	padding-top:6px;
	font-size:14px;
	text-align:center;
}

.header-username
{
	float:right;
	display:inline;
}


.avtar
{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}
.avtar img
{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.head-dropdown ul li
{
	line-height: 24px;
}
.head-droplink
{
	padding: 10px;
	display: block;
	height: 60px;
	line-height: 40px;
	font-size: 16px;
}
.head-dropdown
{
	margin-top: 10px;
	right: 0;
	left: auto;
}
 .dropdown-menu
{
	margin-top: 5px;
	right: 0;
	left: auto;
}
.dropdown-menu .fa
{
	position: absolute;
	top:-10px;
	right: 10px;
}
.head-ico .badge
{
	position: absolute;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	padding: 0;
	background: #00a0e9;
}
#main
{
	left:0;
	top:0;
	padding-left:200px;
	padding-top:60px;
	padding-bottom:40px;
}

.firstB
{
}
.firstB_text
{
	line-height:40px;
	padding-right:5px;
	font-size:24px;
}
.describe
{
	margin-top:20px;
	background-color:#fff;
	padding:10px 20px;
	line-height:20px;
	color:#808080;
}
.mainInfo
{
	margin-top:20px;
	height:120px;
}
.infoDetail
{
	position:relative;
	padding-top:8px;
	height:120px;
}
.infoDetail_logo
{
	color:#fff;
	/*width:83px;*/
	width:83px;
	height:75px;
	text-align:center;
	line-height:70px;
	font-size:70px;
	padding:0;
	margin:0;
}
.infoDetail_content
{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	height:auto;
	overflow:hidden;

}
.infoDetail_content p
{
	font-size:20px;
	line-height:40px;
}
.infoDetail_content a
{
	font-size:24px;
	color:#fff;
}
.infoDetail_more
{
	color:#fff;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	line-height:12px;
	padding:9px 10px;
}
.infoDetail_more a
{
	color:#fff;
}
.table_content
{
	margin-top:20px;
}
.table_content_left
{
	width:30%;
	background-color:#fff;
	height:200px;
}
.table_content_mid
{
	width:30%;
	background-color:#fff;
}
.table_content_right
{
	width:30%;
	background-color:#fff;
}
.table_content_title
{
	border-bottom:#e7e7e7 1px solid;
	line-height:30px;
	padding-bottom:5px;
	margin-top:8px;
}
.table_content_title span
{
	color:#009946;
	font-size:18px;
	margin-left:20px;
	
}